* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1 {
    font-family: 'Square Peg', cursive;
}
.cabecera {
 background-color: #036;
}
.textoCabecera , .tabla , .txt{
    color: #fd7702;
}
.tabla {
    border-color: #fd7702;
}
.tabla {
    background-color: #002347;
}
.explicacio {
    color: #002347;
}
.puntos {
    background-color: #036;
}






/* Color Palette
#fff
#002347
#036
#003f7d
#ff8e00
#fd7702
#ff5003 */
